<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>404</title>
    <style type="text/css">
        h1
        {
            background-color: darkslategrey;
            color: plum;
            font-size: 150px;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        a
        {
            width: 100%;
            text-align: center;
            margin-left: 45%;
        }

    </style>
</head>
<body>
    <h1>PAGE NOT FOUND</h1>
    <a href="/">main page</a>
</body>
</html>